<!-- your_app/templates/admin_app/profile_list.html -->
{% extends 'base.html' %}

{% block content %}


<body>

<h2>Profile List</h2>

{% if profiles %}
    <table border="1">
        <tr>
            <th>User Name</th>
            <th>Age</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Any Disease</th>
            <th>Allergies</th>
        </tr>

            <tr>
                <td>kishu</td>
                <td>25</td>
                <td>175.00</td>
                <td>77.00</td>
                <td>no</td>
                <td>yes</td>
            </tr>

            <tr>
                <td>tipu</td>
                <td>27</td>
                <td>164.00</td>
                <td>70.00</td>
                <td>no</td>
                <td>no</td>
            </tr>
        {% comment %} {% for profile in profiles %}
            <tr>
                <td>{{ profile.user_name }}</td>
                <td>{{ profile.age }}</td>
                <td>{{ profile.height }}</td>
                <td>{{ profile.weight }}</td>
                <td>{{ profile.any_disease }}</td>
                <td>{{ profile.allergies }}</td>
            </tr>
        {% endfor %} {% endcomment %}
    </table>
{% else %}
    <p>No profiles available.</p>
{% endif %}

</body>



{% endblock %}