{% extends 'home.html' %}

{% block content %}

<div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Steps Count</th>
          <th>Calories Burn</th>
          <th>Rewards</th>
          <th>Last Login</th>
          <th>Registration Date</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        {% for reward in rewards %}
          <tr>
            <td>{{ reward.steps_count }}</td>
            <td>{{ reward.calories_burn }}</td>
            <td>{{ reward.rewards }}</td>
            <td>{{ reward.last_login }}</td>
            <td>{{ reward.registration_date_time }}</td>
            <td>{{ reward.age }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>



{% endblock %}