{% extends "base.html" %}


{% block content %}

<style>form {
  max-width: 400px;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}</style>
<form method="post" action="{% url 'admin_panel:add_product' %}">
  {% csrf_token %}

  <label for="id_product_name">Product Name:</label>
  <input type="text" name="product_name" required /><br />

  <label for="id_price">Price:</label>
  <input type="text" name="price" required /><br />

  <label for="id_quantity">Quantity:</label>
  <input type="text" name="quantity" required /><br />

  <button type="submit">Submit</button>
</form>

{% endblock %}


{% comment %}
<!-- add_product.html -->
<form method="post" action="{% url 'admin_panel:add_product' %}">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">Submit</button>
</form>

{% if form.errors %}
<p>There were errors in the form. Please correct them.</p>
<ul>
  {% for field, errors in form.errors.items %} {% for error in errors %}
  <li>{{ field }}: {{ error }}</li>
  {% endfor %} {% endfor %}
</ul>
{% endif %} {% endcomment %}
