{% extends 'base.html' %}

{% block content %}
<!-- Example DataTables Card-->
<body>
    <h2>Product List</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.product_name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.quantity }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

{% endblock %}
